@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

html::-webkit-scrollbar {
    height: 1vw !important;
}

html::-webkit-scrollbar-thumb {
    background-color: #f3b94e !important;
    height: 1vh !important;
}

h2 {
    font-weight: bold !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px !important;
}

p {
    margin: 0px !important;
}

a {
    color: black !important;
    text-decoration: none !important;
}

.btn {
    color: white !important;
    background-color: black !important;
    padding: 15px 30px !important;
}

.btn:hover {
    color: black !important;
    background-color: #DBEF9D !important;
}

.btn-white {
    background-color: white !important;
    color: black !important;
}

.btn-white-hover {
    background-color: white !important;
    color: black !important;
}

.btn-white-hover:hover {
    background-color: #DBEF9D !important;
    color: black !important;
}

.btn-white:hover {
    background-color: rgb(0, 0, 0) !important;
    color: rgb(255, 255, 255) !important;
}

.btn-border {
    border: 2px solid black !important;
    background-color: transparent !important;
    color: black !important;
}

/* splash-screen */

.splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    z-index: -1;
    z-index: 33333333333333333 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: splash 4s;
    transform: translateY(-100%);
}

@keyframes splash {
    0% {
        transform: translateY(0%);
    }

    80% {
        transform: translateY(0%);
        opacity: 1;
    }

    100% {
        transform: translateY(-100%);
        opacity: 0;
    }
}

.splash-screen .circle {
    height: 90px;
    width: 90px;
    /* background-color: red; */
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.splash-screen .circle .cir {
    background-color: black;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    position: absolute;
    opacity: 0;
    animation: cir-blink 1s infinite ease-in-out;
}

@keyframes cir-blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.cir1 {
    top: 0;
    animation-delay: .15s !important;
}

.cir2 {
    transform: translate(-75%, -175%);
    right: 0;
    animation-delay: .24s !important;
}

.cir3 {
    right: 0;
    animation-delay: .36s !important;
}

.cir4 {
    bottom: 0;
    transform: translate(175%, -75%);
    animation-delay: .48s !important;
}

.cir5 {
    bottom: 0;
    animation-delay: .6s !important;
}

.cir6 {
    bottom: 0;
    transform: translate(-175%, -75%);
    animation-delay: .72s !important;
}

.cir7 {
    left: 0;
    animation-delay: .86s !important;
}

.cir8 {
    transform: translate(75%, -175%);
    left: 0;
    animation-delay: 1s !important;
}

/* scroll */

.scroll {
    position: fixed;
    bottom: 5%;
    right: 2%;
    height: 4vw;
    width: 4vw;
    /* border: 2px solid red; */
    z-index: 333 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: scroll-come;
    animation-timeline: scroll();
}

@keyframes scroll-come {
    0% {
        transform: translateX(200%);
    }

    10% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(0%);
    }
}

.blink {
    position: absolute;
    height: 100%;
    width: 100%;
    scale: .2;
    background-color: white;
    z-index: 11;
    animation: blinkbg 2s infinite ease-in-out;
}

@keyframes blinkbg {
    0% {
        opacity: 1;
        scale: .2;
    }

    50% {
        opacity: 1;
        scale: .5;
    }

    100% {
        opacity: 0;
        scale: 1;
    }
}

.stop {
    position: absolute;
    height: 2.7vw;
    width: 2.7vw;
    background-color: black;
    z-index: 222 !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stop i {
    color: white;
    font-size: 2vw;
}

/* navbar */

.navbar {
    font-weight: 500 !important;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
}

.nav-link {
    color: black !important;
    position: relative !important;
}

.nav-link::before {
    content: '';
    position: absolute;
    bottom: 15%;
    left: 10%;
    height: 5%;
    width: 0%;
    background-color: black;
    transition: .5s ease-in-out;
}

.nav-link:focus::before {
    width: 65%;
    transition: .5s ease-in-out;
}

.nav-box {
    display: none;
    z-index: 2222 !important;
}

.bi-person {
    cursor: pointer;
}

.nav-img img {
    border: 2px solid black;
    width: 250px;
}

.nav-img {
    transition: .5s ease-in-out;
}

.nav-img:hover {
    box-shadow: 0px 0px 10px black;
    transform: translateY(-3%);
    transition: .5s ease-in-out;
}

.dropdown-menu {
    box-shadow: 0px 0px 10px black;
}

.dropdown-menu-hover li a {
    transition: .5s ease-in-out !important;
}

.dropdown-menu-hover li a:hover {
    background-color: rgb(0, 131, 253) !important;
    color: white !important;
    transition: .5s ease-in-out !important;
}

.dropdown-menu2 {
    height: 600px;
    position: absolute !important;
    transform: translateX(-20%);
}

.dropdown-menu2 ul li {
    padding: 5px !important;
}

.dropdown-menu3 {
    padding: 30px 50px !important;
    width: 1500px;
    transform: translateX(-35.2%);
}

.dropdown-menu4 {
    transform: translateX(-43.7%);
}

.dropdown-menu5 {
    transform: translateX(-50%);
}

.dropdown-menu-3 ul {
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* border: 2px solid red; */
}

.dropdown-menu-3 ul li {
    list-style: none;
}

.dropdown-menu-3 ul li a {
    opacity: .7;
    transition: .5s ease-in-out;
    position: relative;
}

.dropdown-menu-3 ul li a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 0px;
    background-color: black;
    opacity: .7;
    transition: .5s ease-in-out;
}

.dropdown-menu-3 ul li a:hover::before {
    width: 100%;
    opacity: 1;
    transition: .5s ease-in-out;
}

.dropdown-menu-3 ul li a:hover {
    opacity: 1;
    transition: .5s ease-in-out;
}


/* content header */


.carousel-indicators {
    height: 10px !important;
    position: relative;
    z-index: 22 !important;
}

.header-cir {
    width: 10px !important;
    height: 10px !important;
    border-radius: 50% !important;
    border: 3px solid transparent !important;
    outline: 2px solid transparent !important;
}

#carouselExampleIndicators .active {
    outline: 2px solid white !important;
    outline-offset: 3px !important;
}

#carouselExampleIndicators .active img {
    animation: header-bg 7s 1 ease-in-out;
    scale: 1.3;
}

@keyframes header-bg {
    0% {
        scale: 1;
    }

    100% {
        scale: 1.3;
    }
}

.carousel-item img {
    object-fit: cover !important;
    height: 100% !important;
    width: 100% !important;
    position: relative;
    z-index: 1 !important;
}

.carousel-item {
    position: relative;
}

.carousel-item::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 11 !important;
}

.carousel-item .row {
    z-index: 22 !important;
}

.content-header h1 {
    font-size: 5vw !important;
    font-weight: 550 !important;
}

.content-header p {
    font-size: 1.2vw;
    font-weight: 550 !important;
}


/* content second */

.content-second .row {
    height: 80vh;
}

.content-second .second-box {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.second-box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.content-second .second-box:hover {
    background-size: 110%;
    transition: .5s ease-in-out;
}

.second-box {
    background-image: url(asset/img/content-second-1.webp);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    transition: .5s ease-in-out;
}

.second-box2 {
    background-image: url(asset/img/content-second-2.webp);
}

.content-second h1 {
    font-weight: bold;
}

.second-text {
    position: relative;
    z-index: 11;
}


/* content third */


.third-box {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.third-icons {
    height: 35px;
    width: 35px;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
    position: absolute;
    right: 10px;
    top: 15px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3vw;
    transition: .5s ease-in-out;
}

.third-icons:hover {
    background-color: black;
    color: white;
    transition: .5s ease-in-out;
}

.third-right {
    top: 65px;
    display: none;
}

.third-eye {
    top: 115px;
    display: none;
}

.btn-third {
    position: absolute;
    display: none;
    bottom: 3%;
    border-radius: 20px !important;
    padding: 5px 55px !important;
    background-color: black;
    color: white;
    z-index: 11;
}

.btn-third:hover {
    color: black;
    box-shadow: inset -2px -2px 5px rgba(0, 0, 0, 0.5);
    background-color: white !important;
}

.third-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 10%;
    width: 100%;
    background-color: black;
    z-index: 1;
    color: white;
}

.third-bottom marquee {
    /* background-color: red; */
    height: 100%;
    display: flex;
    align-items: center;
}

.third-bottom .marquee-box {
    display: flex;
}

.third-bottom marquee i {
    margin: 0px 10px;
    color: red;
}

.third-box2-c1 {
    height: auto;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

.third-c1 {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: red;
    border: none;
}

.third-c1-1 {
    background-color: #cdb748;
}

.third-c1-2 {
    background-color: #c0c0c0;
}

.third-c1-3 {
    background-color: #a68863;
}

.third-c1:focus {
    border: 2px solid black;
}


/* content four */

.four-box2-c1 {
    height: auto;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

.four-c1 {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: red;
    border: none;
}

.four-c1-1 {
    background-color: #93A3BE;
}

.four-c1-2 {
    background-color: black;
    border: 2px solid #DC6F6C;
}

.four-c1-3 {
    background-color: #DC6F6C;
}

.four-c1:focus {
    border: 2px solid black;
}


/* content four */

.content-four-box {
    position: relative;
}

.content-four-box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.2);
    transition: .5s ease-in-out;
}

.content-four-box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1;
    transition: .5s ease-in-out;
}

.content-four-box:hover img {
    scale: 1.05;
    transition: .5s ease-in-out;
}

.content-four-box:hover::before {
    background-color: rgba(0, 0, 0, 0.5);
    transition: .5s ease-in-out;
}

.content-four-text {
    position: absolute;
    top: 100%;
    left: 50%;
    z-index: 11;
    width: 100%;
    transform: translateX(-50%);
    transition: .5s ease-in-out;
}

.content-four-box:hover .content-four-text {
    top: 60%;
    transition: .5s ease-in-out;
}


/* content five */


.five-box-img {
    height: 85vh;
    position: relative;
}

.five-box-img img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.five-img {
    position: absolute;
    transform: translateX(100%);
    z-index: 1;
}

.five-img1 {
    transform: translateX(0%);
}

.five-box-img-po {
    position: absolute;
    z-index: 11;
    height: 100%;
    width: 25%;
}

.five-box {
    height: 100px;
    width: 100px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.five-box-1 {
    border: 2px solid black;
}

.content-five a {
    opacity: .7;
    transition: .5s ease-in-out;
}

.content-five a:hover {
    opacity: 1;
    transition: .5s ease-in-out;
}

.content-five-col2-box {
    /* border: 2px solid red; */
    display: flex;
    gap: 10px;
}

.five-col2-box {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid transparent;
}

.five-qty {
    width: 100%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
}

.five-qty-1 {
    width: 35%;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5vw;
    background-color: rgba(128, 128, 128, 0.2);
}

.five-qty-2 {
    width: 60%;
    /* border: 2px solid red; */
}

.five-count1 {
    cursor: pointer;
}

.five-count3 {
    cursor: pointer;
}

.content-five .fa-star {
    color: #f3b94e;
}


/* content six */

.content-six {
    background-color: #1f1f1f;
}


/* content seven */

.seven-last {
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.seven-last::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.seven-last img {
    transition: .5s ease-in-out;
    z-index: 1;
}

.seven-last:hover img {
    scale: 1.05;
    z-index: 1;
    transition: .5s ease-in-out;
}

.seven-last-text {
    position: absolute;
    bottom: 5%;
    left: 5%;
    z-index: 22;
}


/* content footer */


.content-footer {
    background-color: #1f1f1f;
}

.content-footer ul {
    padding: 0px !important;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content-footer h6 {
    font-weight: bold;
}

.content-footer ul li {
    list-style-type: none;
}

.content-footer a {
    color: white !important;
}

.footer-input {
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.footer-input input {
    border: none;
    outline: none;
}

.input-arrow {
    color: wheat;
    background-color: black;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2vw;
    cursor: pointer;
}

.footer-icons {
    font-size: 1.3vw;
}

.footer-icons i {
    cursor: pointer;
}

.last-img img {
    height: 40px;
    cursor: pointer;
}

hr {
    bottom: 15% !important;
}